:root {
  --primary-color: #96BB7C;
  --color-blanco: #FFFFFF;
  --faded-secondary-color-1: #DDF4FF;
  --second-text-color: #737373;

}

body {
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  padding: 15px 20px;
  border-radius: 2px;
}

.button-color {
  background-color: var(--primary-color);
  ;
  color: var(--color-blanco);
  font-weight: bold;
}

.button-transparent {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
}

.button-border {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.nav-header {
  background-color: var(--faded-secondary-color-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 100px;
}

.nav-header>ul {
  display: flex;
  list-style: none;
  margin-left: -200px;
}

.nav-header>ul>li>a {
  margin: 0px 15px;
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: bold;
}

.contenedor {
  background-color: var(--faded-secondary-color-1);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
}

.contenedor {
  padding: 20px 100px;
}

.letra-contenedor {
  margin-top: 100px;
}

.letra-contenedor h1 {
  width: 500px;
  font-size: 50px;
  font-weight: bold;
}

.letra-contenedor p {
  color: var(--second-text-color);
  font-size: 18px;
  width: 370px;
}

.letra-contenedor h6 {
  color: var(--primary-color);
  font-size: 12px;
}

.letra-contenedor>div {
  margin-top: 50px;
}

.letra-contenedor>div>button {
  margin-right: 20px;
}

.imagen {
  height: 580px;
}

.stats {
  margin: 100px 170px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.texth-stats {
  color: var(--primary-color);
  font-size: 42px;
}

.textp-stats {
  margin-top: -30px;
}

.letra-contenedor2 {
  margin-left: 100px;
  margin-top: 200px;
}

.letra-contenedor2 h1 {
  width: 500px;
  font-size: 40px;
}

.letra-contenedor2 p {
  color: var(--second-text-color);
  width: 500px;
}

.letra-contenedor2 h6 {
  color: var(--primary-color);
  font-size: 12px;
}
.contenedor2 {
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

.get-quality {
  padding: 20px 50px;
  box-shadow: -4px 4px 22px 3px rgba(235, 235, 235, 1);
  -moz-box-shadow: -4px 4px 22px 3px rgba(235, 235, 235, 1);
  box-shadow: -4px 4px 22px 3px rgba(235, 235, 235, 1);
}
.section2{
  height: 700px;
}
.get-quality > h2{
  margin-top: 35px;
  width: 300px;
}
.get-quality > p{
  margin-top: 35px;
  color: var(--second-text-color);
  width: 300px;
}